body {
  color: #3c3c3c;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
/*************   Create the menubar using flexbox. *********************************/
nav  {
}

.nav-links {
}

.nav-item a {

}
.nav-item:hover {
}
.nav-item:hover a {

}
/******* Create banner section with background image and headings on top *****/
.banner {
  background-image:url("../images/home_banner-x489.png"); 
}
.banner h1 {
  font-family: 'Lobster', cursive;
  text-shadow: 3px 3px 2px #474747;
}

/**********       Create 3 column layout         ************/
.triple-col {
}

.content-two a:link {
}
.content-two a:hover {
}

/************* Create 4 column layout    ************************/
.quad-col {
}

.button {
}

footer {
}

/**************** create a verticle layout for mobile devices (smaller than 600px ).    *********/
@media all and (max-width: 600px) {
  .triple-col {
  }
  .quad-col {
  }
  nav {
  }
  .nav-links {
  }
}